body {
  padding: 55px;
}

h1 {
  text-align: center;
}

ul.packages {
  padding-top: 2em;
}

li {
  list-style-image: none;
}

li.element {
  list-style-image: url(../img/glyphicons_circle_minus_small.png);
}

li.element.collapsed {
  list-style-image: url(../img/glyphicons_circle_plus_small.png);
}

pre {
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
}

a, a:hover {
  color: #000000;
}

.specElement.passed > .elementHeader > .elementName, .example.passed {
  color: #468847;
}

.specElement.failed > .elementHeader > .elementName, .example.failed {
  color: #B94A48;
}

.specElement.skipped > .elementHeader > .elementName {
  color: #d3d3d3;
}

.label {
  vertical-align: middle;
}

.pieContainer {
  vertical-align: sub;
}

.popover {
  width: auto;
}

.popover-title:empty {
/*   display: none; */
}


table.examples {
	margin-top:12px;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid lightgrey;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

th, td {
    padding: 0 10px 0 5px;
}




